[language-server.ty]
command = "ty"
args = ["server"]

[[language]]
name = "python"
language-servers = ["ty", "ruff"]
auto-format = true
shebangs = ["python", "python3", "uv"]
formatter = { command = "ruff", args = ["format", "-"] }

[[language]]
name = "rust"
auto-format = true

[[language]]
name = "javascript"
auto-format = true
formatter = { command = "prettier", args = ["--parser", "javascript"] }

[[language]]
name = "typescript"
auto-format = true
formatter = { command = "prettier", args = ["--parser", "typescript"] }

[[language]]
name = "tsx"
auto-format = true
formatter = { command = "prettier", args = ["--parser", "typescript"] }

[[language]]
name = "jsx"
auto-format = true
formatter = { command = "prettier", args = ["--parser", "javascript"] }

[[language]]
name = "svelte"
auto-format = true
formatter = { command = "prettier", args = ["--plugin", "prettier-plugin-svelte", "--parser", "svelte"] }
